/node_modules
/public/hot
/public/storage
/public/CarBackPhotos
/public/CarFrontPhotos
/public/DriverBackLicense
/public/DriverFrontLicense
/public/DriverPhotos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
